mixin slider
  .slider
    .slider__container
      .slider__pagination
      .slider__wrapper
        .slider__slide
          .slider__image(style="background-image: url('img/team/team-1.jpg');")
          .slider__info
            .slider__info-name Константин Новосельцев
            .slider__info-position Финансовый директор
        .slider__slide
          .slider__image(style="background-image: url('img/team/team-1.jpg');")
          .slider__info
            .slider__info-name Константин Новосельцев
            .slider__info-position Финансовый директор
        .slider__slide
          .slider__image(style="background-image: url('img/team/team-1.jpg');")
          .slider__info
            .slider__info-name Константин Новосельцев
            .slider__info-position Финансовый директор
        .slider__slide
          .slider__image(style="background-image: url('img/team/team-1.jpg');")
          .slider__info
            .slider__info-name Константин Новосельцев
            .slider__info-position Финансовый директор
        .slider__slide
          .slider__image(style="background-image: url('img/team/team-1.jpg');")
          .slider__info
            .slider__info-name Константин Новосельцев
            .slider__info-position Финансовый директор
        .slider__slide
          .slider__image(style="background-image: url('img/team/team-1.jpg');")
          .slider__info
            .slider__info-name Константин Новосельцев
            .slider__info-position Финансовый директор