mixin slider
  .slider
    .slider__container
      .slider__pagination
      .slider__wrapper
        .slider__slide
          .slider__image(style="background-image: url('img/team/team-1.jpg');")
          .slider__info
            .slider__info-name Константин<br>Новосельцев
            .slider__info-position Финансовый директор
        .slider__slide
          .slider__image(style="background-image: url('img/team/team-2.jpg');")
          .slider__info
            .slider__info-name Денис<br>Хлебко
            .slider__info-position Директор по развитию
        .slider__slide
          .slider__image(style="background-image: url('img/team/team-3.jpg');")
          .slider__info
            .slider__info-name Андрей<br>Косицын
            .slider__info-position Технический директор