include ../_ui/heading/heading
include ../_ui/video/video

mixin demo
  section.demo.container
    .wrapper
      .demo__block
        .demo__col
          +video-local('//sale.trade-capital.pro/video.mp4')
        .demo__col
          +heading('demo__heading', 'Демонстрация работы ', 'TCB')
          p.demo__desc Торговля ведётся автоматически  по выработанным алгоритмам, которые  вот уже более двух лет приносят стабильную прибыль 10-40% в месяц