.demo
  z-index: 2
  position: relative
  padding: 120px 0 250px 0
  background-color: $black
  &__particles
    z-index: 3
    position: absolute
    top: 0
    left: 0
    width: 1000px
    height: 660px
  &__block
    z-index: 4
    position: relative
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: flex-start
  &__col
    width: 570px
  &__heading
    margin-bottom: 30px
  &__desc
    color: $grey
    line-height: 1.65em

@media only screen and (max-width: $mobile)
  .demo
    padding: 30px 0
    &__block
      flex-flow: column-reverse
      justify-content: flex-start
      align-items: stretch
    &__col
      width: 100%
    &__heading
      text-align: center
    &__desc
      margin-bottom: 30px