.note
  padding: 30px 0
  background-color: $blue-1
  &__block
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    padding: 0 45px
  &__text
    font:
      size: 30px
      weight: 900

@media only screen and (max-width: $mobile)
  .note
    padding: 20px 0 30px 0
    &__block
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: stretch
      padding: 0
    &__text
      margin-bottom: 20px
      padding: 0 20px
      text-align: center
      font-size: 20px