.note
  padding: 30px 0
  background-color: $blue-1
  &__block
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    padding: 0 45px
  &__text
    font:
      size: 30px
      weight: 900