mixin footer
  footer.footer.container
    .wrapper
      .footer__block
        .footer__logo
          include assets/logo.svg
        .footer__info
          p.footer__text Торговля сопровождается существенным риском,  и не подходит каждому инвестору. Инвестор может  потерять все или больше чем первоначальные  инвестиции. Риск-капитал — это деньги, которые могут быть потеряны без ущерба для финансовой безопасности или образа жизни. Только рисковый капитал должен использоваться для торговли, и только те, у кого достаточно рискового капитала, должны рассматривать торговлю. Прошлые показатели не являются гарантией  будущих результатов.
          a(href="//trade-capital.pro/bots/terms.pdf", target="_blank").footer__link Правила и соглашения
        .footer__copyright
          include assets/copyright.svg