mixin steps
  section.steps.container
    .wrapper
      .steps__item
        p.steps__heading Оплата
        p.steps__text Робот оплачивается один раз. Больше вложений не требуется, кроме пополнения депозита по Вашему усмотрению. Ваш счёт находится у брокера, счёт можете пополнить либо снять средства с него в любой момент
      .steps__item
        p.steps__heading Установка
        p.steps__text Установка и настройка робота полностью бесплатны. Для использования робота Вам не нужны специальные знания. Робот устанавливается на удаленный рабочий сервер, где торгует круглосуточно
      .steps__item
        p.steps__heading Поддержка
        p.steps__text Бесплатная квалифицированная поддержка партнеров TCB. Предоставляем обучение, доступ к чатам в Telegram и постоянным обновлениям