mixin button-outline(text, link, className)
  a.button.button--outline(class=className, href=link)= text

mixin button-filled(text, link, className)
  a.button.button--filled(class=className, href=link)= text