include ../components/header/header
include ../components/hero/hero
include ../components/why/why
include ../components/demo/demo

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Document
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header
      +hero
      +why
      +demo