include ../components/header/header
include ../components/hero/hero
include ../components/why/why
include ../components/demo/demo
include ../components/calc/calc
include ../components/note/note
include ../components/feedback/feedback
include ../components/about/about
include ../components/faq/faq
include ../components/contacts/contacts
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Document
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header
      +hero
      +why
      +demo
      +calc
      +note('Вам всегда доступна статистика вашего счёта', 'Мониторинг счёта', '//www.myfxbook.com/members')
      +feedback
      +about
      +note('Попробуйте TCB бесплатно прямо сейчас', 'Попробовать бесплатно', '#', 'js-open-popup')
      +faq
      +contacts
      +footer