include _og

//- константы для OpenGraph
-const TITLE = "Trade Capital Bot"
-const URL = "https://trade-capital.pro"
-const IMAGE = "img/og.png"
-const DESCRIPTION = "Стабильный пассивный доход с TradeCapital - живи полной жизнью, пока деньги сами себя зарабатывают"

//- Кодировка
meta(charset="UTF-8")

//- Тег viewport
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

//- Краткое описание веб-страницы
meta(name="description", content="Стабильный пассивный доход с TradeCapital - живи полной жизнью, пока деньги сами себя зарабатывают")

//- Ключевые слова (через запятую)
meta(name="keywords", content="доход, стабильный пассивный, TradeCapital, TradeCapitalBot, QFM, RoyalFamily, инвестиции, forex, робот, трейдер, заработок")

//- Цвет темы веб-приложения
meta(name="theme-color", content="#12161D")

//- Авторский права
meta(name="copyright", content="http://nmihalyov.tk/")

//- Теги веб-приложения для Apple (и не только)
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="#12161D")
meta(name="apple-mobile-web-app-title", content="Trade Capital Bot")

//- Теги веб-приложения для Windows
meta(name="msapplication-TileImage", content="img/favicons/144x144.png")
meta(name="msapplication-TileColor", content="#12161D")

//- Отключение отображения номера как ссылки
meta(name="format-detection", content="telephone=no")

+open-graph(TITLE, URL, IMAGE, DESCRIPTION)