include ../_ui/heading/heading

mixin why
  section.why.container
    .why__particles#why-particles
    .wrapper
      .why__main
        .why__main-col
          +heading('why__heading', 'Почему робот?')
          p.why__main-desc Всё верно, именно робот является нашим главным козырем на рынке — просчитаные нашими специалистами до мелочей алгоритмы, отсутствие усталости и иных минусов «живого» трейдера позволяют ему приносить нам стабильный пассивный доход
        .why__main-col
          .why__highlight
            .why__highlight-header
              .why__highlight-icon
              p.why__highlight-heading Стабильный пассивный доход 
            p.why__highlight-desc Торговля ведётся автоматически<br>по выработанным алгоритмам, которые<br>вот уже более двух лет приносят стабильную прибыль 10-40% в месяц
      .why__sub
        .why__sub-col
          .why__sub-header
            .why__sub-icon(data-icon="money")
            p.why__sub-heading Несколько валютных пар
          p.why__sub-desc Робот торгует на нескольких валютных парах. Высокая эффективность торговли робота достигается за счёт использования нескольких совместно работающих алгоритмов с индивидуальной оптимизацией торговли под каждую валютную пару
        .why__sub-col
          .why__sub-header
            .why__sub-icon(data-icon="timer")
            p.why__sub-heading Высокая скорость реакции 
          p.why__sub-desc Скорость — от поступления сигнала к&nbsp;открытию/закрытию позиции до обработки заявки затрачиваются доли&nbsp;секунд, человек же на анализ рынка&nbsp;и&nbsp;открытие/закрытие сделки затрачивает гораздо больше времени
        .why__sub-col
          .why__sub-header
            .why__sub-icon(data-icon="robot")
            p.why__sub-heading У робота нет эмоций
          p.why__sub-desc Эмоции — полное их отсутствие при&nbsp;использовании алгоритмической торговли позволяет роботу только хладнокровно зарабатывать деньги