include ../_ui/heading/heading
include ../faq-item/faq-item

mixin faq
  section.faq.container
    .faq__particles#faq-particles
    .wrapper.faq__wrapper
      +heading('faq__heading', 'Часто задаваемые ', 'вопросы')
      .faq__grid
        .faq__column
          +faq-item('Сколько прибыли в месяц ожидается?', 'Торговый робот TCB приносит от 10 до 40% в месяц в зависимости от волатильности рынка')
          +faq-item('Какой минимальный баланс для использования?', 'Рекомендуемый баланс счета для полноценной торговли составляет от 300$. Вы можете начать со 100$, чтобы запустить советник и получать прибыль')
          +faq-item('Какие пары и сколько пар использовать можно?', 'AUD/USD, EUR/CHF, EUR/JPY, EUR/USD, GPB/USD, NZD/USD, USD/CAD, USD/JPY')
          +faq-item('Как запустить и установить робота «Trade Capital Bot»?', 'Торговый робот TCB приносит от 10 до 40% в месяц в зависимости от волатильности рынка')
        .faq__column
          +faq-item('Какая основная стратегия используется в «Trade Capital Bot»?', 'Робот использует мультивалютную стратегию, в рамках которой взаимодействуют несколько совместно работающих алгоритмов с учетом корреляции и индивидуальной оптимизацией торговли под каждую валютную пару')
          +faq-item('Какие настройки робота лучше использовать?', 'Рекомендуем использовать стандартный пакет настроек для валютных пар. Для продвинутых/профессиональных трейдеров также доступен пакет с агрессивными настройками')
          +faq-item('Каким образом я получу робота?', 'Робот доступен для скачивания в личном кабинете. Активация робота происходит после его оплаты')
          +faq-item('Когда я получу лицензию на реальный счет после оплаты?', 'Активация торгового счета происходит в течение трех дней')