.faq
  z-index: 2
  position: relative
  padding: 120px 0
  background-color: $black
  &__particles
    z-index: 3
    position: absolute
    top: 0
    right: 0
    width: 1000px
    height: 660px
  &__wrapper
    z-index: 4
    position: relative
  &__heading
    margin-bottom: 60px
    text-align: center
  &__grid
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: flex-start
  &__column
    width: 570px

@media only screen and (max-width: $mobile)
  .faq
    padding: 30px 0
    &__grid
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: stretch
    &__column
      width: 100%