.faq
  padding: 100px 0 50px 0
  &__heading
    margin-bottom: 60px
    text-align: center
  &__grid
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: flex-start
  &__column
    width: 570px

@media only screen and (max-width: $mobile)
  .faq
    padding: 30px 0
    &__grid
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: stretch
    &__column
      width: 100%