.hero
  padding: 100px 0 50px 0
  &__grid
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: stretch
  &__block
    width: 570px
  &__desc
    margin: 20px 0 25px 0
    padding-right: 20px
    color: $grey
    line-height: 1.65em
    font-weight: 300
  &__buttons
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
  &__video
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    align-items: flex-start
    height: 100%
    &-desc
      line-height: 1.65em
      font:
        size: 24px
        weight: 300