include ../_ui/heading/heading

mixin about
  section.about.container
    .wrapper
      .about__info
        .about__col
          +heading('about__heading', 'Команда ', 'TCB')
          p.about__desc «Trade Capital» не является инвестиционной компанией, также не берёт капитал в доверительное управление. Доход формируется исключительно мультивалютным торговым роботом «TCB», который проверен огромным количеством наших партнёров, а также довольно длительным временем
          p.about__desc Два года успешной торговли с роботом «Trade Capital Bot». Более 10 000 довольных партнёров.  Сотрудничаем только с лицензироваными брокерами, работающими на валютном рынке более десяти лет 
          p.about__desc Мы рассматриваем для сотрудничества только серьёзных и надёжных брокеров, поэтому за безопасность  своих средств можно не переживать
        .about__slider
      .about__steps
        .about__steps-item
          p.about__steps-heading Установка
          p.about__steps-text Установка и настройка робота полностью бесплатны. Для использования робота Вам не нужны специальные знания. Робот устанавливается на удаленный рабочий сервер, где торгует круглосуточно
        .about__steps-item
          p.about__steps-heading Оплата
          p.about__steps-text Робот оплачивается один раз. Больше вложений не требуется, кроме пополнения депозита по Вашему усмотрению. Ваш счёт находится у брокера, счёт можете пополнить либо снять средства с него в любой момент
        .about__steps-item
          p.about__steps-heading Поддержка
          p.about__steps-text Бесплатная квалифицированная поддержка партнеров TCB. Предоставляем обучение, доступ к чатам в Telegram и постоянным обновлениям