.about
  z-index: 2
  position: relative
  padding: 50px 0 100px 0
  background-color: $black
  &__heading
    margin-bottom: 20px
  &__info
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 100px
  &__col
    width: 670px
  &__desc
    color: $grey
    line-height: 1.65em
    &:not(:last-child)
      margin-bottom: 40px
  &__slider
    width: 400px
  &__steps
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: flex-start
    &-item
      width: 370px
    &-heading
      margin-bottom: 20px
      line-height: 1.2em
      font:
        size: 50px
        weight: 900
    &-text
      color: $grey
      line-height: 1.65em

@media only screen and (max-width: $mobile)
  .about
    padding: 30px 0 60px 0
    &__info
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: stretch
      margin-bottom: 0
    &__slider
      width: 100%
    &__col,
    &__slide
      width: 100%
    &__desc
      margin-bottom: 30px
      &:nth-child(3),
      &:nth-child(4)
        display: none
    &__steps
      display: none